!!!
%html(xmlns="http://www.w3.org/1999/xhtml" lang="de")
    %head
        %link(href="demo.css" rel="stylesheet" type="text/css")
        %script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js" type="text/javascript" data-main="demo.js")
        %title Vue Selectbox Demo
    %body
        #demo(v-cloak)
            %h2 Single Select
            %selectbox(:candidates="candidates" label="name" v-on:update="select" :model="current" placeholder="Select...")
            %pre {{current || 'null'}}

            %h2 Multi Select
            %selectbox(:candidates="candidates" label="name" v-on:update="select_multiple" :model="current_multiple" multiple="multiple" placeholder="Select Multiple...")
            %pre {{current_multiple || '[]'}}
