:root {
    --vue-selectbox-bg: white;
    --vue-selectbox-fg: black;
    --vue-selectbox-selected-bg: white;
    --vue-selectbox-selected-fg: black;
    --vue-selectbox-highlight-bg: #f5f5f5;
    --vue-selectbox-highlight-fg: black;
    --vue-selectbox-disabled-fg: lightgray;
    --vue-selectbox-outerborder: gray;
    --vue-selectbox-innerborder: lightgray;
    --vue-selectbox-lineheight: 1.5;
}

.vue_selectbox {
    position: relative;
    line-height: var(--vue-selectbox-lineheight);
    box-sizing: border-box;
    color: var(--vue-selectbox-fg);

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    input[type="text"],
    .inputframe {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0.3em;
        background: var(--vue-selectbox-bg);
        border: 1px solid var(--vue-selectbox-outerborder);
        outline: none;
        font: inherit;
        line-height: var(--vue-selectbox-lineheight);
    }

    .icon {
        line-height: var(--vue-selectbox-lineheight);
        width: 1.5em;
        background: transparent no-repeat center center;
        background-size: 0.9em 0.9em;

        &.active {
            cursor: pointer;
        }

        &.open.active {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0.5em;
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj48c3ZnIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM6c2VyaWY9Imh0dHA6Ly93d3cuc2VyaWYuY29tLyIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxLjQxNDIxOyI+PHJlY3QgaWQ9Im9wZW4iIHg9IjAiIHk9IjAiIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgc3R5bGU9ImZpbGw6bm9uZTsiLz48cGF0aCBkPSJNOC41LDEyLjVMMTQsNUwzLDVMOC41LDEyLjVaIiBzdHlsZT0iZmlsbDojNDA0MDQwOyIvPjwvc3ZnPg==");
        }

        &.clear {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0.5em;
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj48c3ZnIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM6c2VyaWY9Imh0dHA6Ly93d3cuc2VyaWYuY29tLyIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxLjU7Ij48cmVjdCBpZD0ic2VhcmNoIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHN0eWxlPSJmaWxsOm5vbmU7Ii8+PHBhdGggZD0iTTExLDEyLjgzNkwxMi44MzYsMTFMMTcuNDI1LDE1LjU4OUwxNS41ODksMTcuNDI1TDExLDEyLjgzNloiIHN0eWxlPSJmaWxsOiM0MDQwNDA7Ii8+PGNpcmNsZSBjeD0iOCIgY3k9IjgiIHI9IjYiIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiM0MDQwNDA7c3Ryb2tlLXdpZHRoOjIuMjVweDsiLz48L3N2Zz4=");

            &.active {
                background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj48c3ZnIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM6c2VyaWY9Imh0dHA6Ly93d3cuc2VyaWYuY29tLyIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxLjQxNDIxOyI+PHJlY3QgaWQ9ImNsb3NlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHN0eWxlPSJmaWxsOm5vbmU7Ii8+PHBhdGggZD0iTTksNkwxMy41LDEuNUwxNi41LDQuNUwxMiw5TDE2LjUsMTMuNUwxMy41LDE2LjVMOSwxMkw0LjUsMTYuNUwxLjUsMTMuNUw2LDlMMS41LDQuNUw0LjUsMS41TDksNloiIHN0eWxlPSJmaWxsOiM0MDQwNDA7Ii8+PC9zdmc+");
            }
        }

        &.add.active {
            display: block;
            position: absolute;
            right: 2em;
            top: 0;
            bottom: 0;

            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj48c3ZnIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM6c2VyaWY9Imh0dHA6Ly93d3cuc2VyaWYuY29tLyIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxLjQxNDIxOyI+PHJlY3QgaWQ9ImFkZCIgeD0iMCIgeT0iMCIgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiBzdHlsZT0iZmlsbDpub25lOyIvPjxwYXRoIGQ9Ik03LDdMNywxTDEwLDFMMTAsN0wxNiw3TDE2LDEwTDEwLDEwTDEwLDE2TDcsMTZMNywxMEwxLDEwTDEsN0w3LDdaIiBzdHlsZT0iZmlsbDojNDA0MDQwOyIvPjwvc3ZnPg==");
        }
    }

    .placeholder {
        opacity: 0.3;
    }

    .value {
        display: inline-block;
        position: relative;
        margin-right: 0.4em;
        padding-right: 1.5em;
        padding-left: 0.3em;
        color: var(--vue-selectbox-selected-fg);
        background: var(--vue-selectbox-selected-bg);
        border-radius: 3px;

        .clear {
            top: 0;
            right: 0;
            padding: 0;
        }

        &:focus {
            outline: none;
        }
    }

    .candidates {
        position: absolute;
        z-index: 4;
        width: 100%;
        background: var(--vue-selectbox-bg);
        color: var(--vue-selectbox-fg);
        border: 1px solid var(--vue-selectbox-outerborder);
        border-top: none;

        .input {
            position: relative;

            input {
                border: none;
            }
        }

        ul {
            position: relative; //necessary for correct scroll positioning
            margin: 0;
            padding: 0;
            list-style-type: none;
            overflow-y: auto;
            max-height: 200px;
            border-top: 1px solid var(--vue-selectbox-innerborder);
        }

        li {
            border-bottom: 1px solid var(--vue-selectbox-innerborder);
            padding: 0.2em 0.4em;
            cursor: pointer;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.all_items {
                text-align: right;
                font-style: italic;
            }

            &.all_items:hover,
            &.active {
                background: var(--vue-selectbox-highlight-bg);
                color: var(--vue-selectbox-highlight-fg);
            }

            &.selected,
            &.disabled {
                color: var(--vue-selectbox-disabled-fg);
                cursor: default;
            }

            &.deselectable {
                cursor: pointer;
            }

            &:last-child {
                border: none;
            }
        }
    }

    &.disabled {
        opacity: 0.5;

        .value {
            padding-right: 0;
        }
    }

    &.pretty {
        display: block;

        .inputframe {
            border: 1px solid #888;
            border-radius: 3px;
            background: #fafafa;

            .placeholder {
                display: inline-block;
                margin: 0.1em 0;
                padding: 1px 0; //compensate for value border
            }

            .value {
                margin: 0.1em 0.5em 0.1em 0;
                padding: 0 25px 0 5px;
                border: 1px solid #999;
                border-radius: 2px;

                background: #f7f7f7;
                background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
                background: -webkit-linear-gradient(top, #f7f7f7 0%,#eaeaea 100%);
                background: linear-gradient(to bottom, #f7f7f7 0%,#eaeaea 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );

                .clear {
                    right: 0.27em;
                }
            }
        }

        .candidates {
            font-size: 95%;
            line-height: 1.7;

            &,
            ul {
                border-color: #888;
            }

            ul {
                li {
                    color: #444;

                    &.active {
                        background: rgba(#666, 0.2);
                    }

                    &.selected {
                        opacity: 0.3;
                    }
                }
            }
        }

        .icon {
            color: #555;
        }
    }
}
