!!!
%html(xmlns="http://www.w3.org/1999/xhtml" lang="de")
    %head
        %link(href="demo.css" rel="stylesheet" type="text/css")
        %script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js" type="text/javascript")
        %title Vue Selectbox Demo
        :javascript
            requirejs.config({
                paths: {
                    "jquery": "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min",
                    "vue": "https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min",
                    "lodash": "https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min",
                    "vue_selectbox": "../dist/vue_selectbox"
                }
            });
            requirejs(["jquery", "vue", "vue_selectbox"], function($, vue, vue_selectbox) {
                "use strict";

                new vue({
                    components: {
                        selectbox: vue_selectbox
                    },
                    data: {
                        single1: null,
                        single2: null,
                        multiple: null,
                        continents: [
                            {name: 'Antarctica'},
                            {name: 'Asia'},
                            {name: 'Australia'},
                            {name: 'Europe'},
                            {name: 'North America'},
                            {name: 'South America'}
                        ]
                    }
                }).$mount("#demo");
            });

    %body
        #demo(v-cloak)
            %h2 Single Select
            %selectbox(:candidates="continents" label="name" v-on:update="(val) => single1 = val" :model="single1" placeholder="Select...")
            %pre {{single1 || 'null'}}

            %h2 Multi Select
            %selectbox(:candidates="continents" label="name" v-on:update="(val) => multiple = val" :model="multiple" multiple="multiple" placeholder="Select Multiple...")
            %pre {{multiple || '[]'}}

            %h2 Add new options
            %selectbox(:candidates="continents" label="name" v-on:update="(val) => single2 = val" v-on:add="(val) => continents.push(single2 = {name: val})" :model="single2" add="close" placeholder="Select...")
            %pre {{single2 || 'null'}}

