!!!
%html(xmlns="http://www.w3.org/1999/xhtml" lang="de")
    %head
        %link(href="demo.css" rel="stylesheet" type="text/css")
        %script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js" type="text/javascript")
        %title Vue Selectbox Demo
        :javascript
            requirejs.config({
                paths: {
                    "jquery": "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min",
                    "vue": "https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min",
                    "vue_selectbox": "../dist/vue_selectbox"
                }
            });
            requirejs(["jquery", "vue", "vue_selectbox"], function($, vue, vue_selectbox) {
                "use strict";

                new vue({
                    components: {
                        selectbox: vue_selectbox
                    },
                    data: {
                        single1: null,
                        single2: null,
                        multiple: null,
                        continents: [
                            {name: 'Antarctica', hemisphere: 'South'},
                            {name: 'Asia', hemisphere: 'North'},
                            {name: 'Australia', hemisphere: 'South'},
                            {name: 'Europe', hemisphere: 'North'},
                            {name: 'North America', hemisphere: 'North'},
                            {name: 'South America', hemisphere: 'South'}
                        ]
                    }
                }).$mount("#demo");
            });

    %body
        #demo(v-cloak)
            %h2 Single Select
            %selectbox(:candidates="continents" label="name" v-model="single1" placeholder="Select...")
            %pre {{single1 || 'null'}}

            %h2 Multi Select
            %selectbox(:candidates="continents" label="name" v-model="multiple" multiple="multiple" placeholder="Select Multiple..." all_label="All Continents" :options="{combine_all: true, allow_deselect_from_list: true}")
            %pre {{multiple || '[]'}}

            %h2 Add new options
            %selectbox(:candidates="continents" label="name" v-on:add="(val) => continents.push(single2 = {name: val})" v-model="single2" placeholder="Select..." :options="{allow_adding: true, close_after_add: false}")
            %pre {{single2 || 'null'}}

            %h2 Use custom list item markup
            %selectbox.pretty(:candidates="continents" label="name" v-on:add="(val) => continents.push(single2 = {name: val})" v-model="single2" placeholder="Select...")
                %template(slot="selected" slot-scope="{item}")
                    {{item.name}} ({{item.hemisphere}})
                %template(slot="candidate" slot-scope="{item}")
                    {{item.hemisphere}}: {{item.name}}
            %pre {{single2 || 'null'}}

            %h2 Disabled Select
            %selectbox(:candidates="continents" label="name" v-model="multiple" :multiple="true" placeholder="Select..." :disabled="true")

